{% extends 'base.html.twig' %}
{% block title %}storyTryGame{% endblock %}
{% block body %}
    <form action="" method="post">
        <button class="btn btn-danger mb-5" style="margin-right: 50%;" name="exitGame" value="false">Quitter</button>
    </form>
{% endblock %}