{% extends 'base.html.twig' %}
{% block title %}Success_create_card{% endblock %}
{% block body %}
    <div class="container mt">
        <div class="row mt-5">
            <div class="col-12 mt-5 mb-5 text-center">
                <h1 class="mt-5 mb-4 text-success font-title">Félicitation</h1>
                <h2 class="mt-5 mb-5 font">Vous venez de créer votre profil, vous pouvez dès à present  utilisé nos services !</h2>
                <h3 class="font">Retrouver toutes nos story dan la section StoryGame,</h3>
                <h3 class="font">À vous de jouer.</h3>
                <h3 class="mt-5 mb-5 text-warning"><b> : )</b></h3>
                <div class="mt-5 mb-5">
                </div>
            </div>
        </div>
    </div>
{% endblock %}